/*タイトル*/
#title {
  font-size: 40px;
  color: #1576e4;
  font-weight: 900;
}

/*説明*/
#explan {
  font-size: 20px;
  color: #17d29a;
}

#link {
  font-size: 10px;
  color: #17d29a;
}

/*期待値*/
#expected {
  font-size: 30px;
}

/*結果*/
#resultComment {
  font-size: 30px;
}

/* 時間表示 */
#time {
  font-size: 30px;
}

/*ボタン*/
button {
  padding: 20px 0;
  font-size: 30px;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border: none;
  color: #fff;
  background-color: #17d29a;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #17d29a;
}

button:disabled {
  cursor: default;
  background-color: #17d29a;
}
